<h1>Clientes</h1>

<mat-card class="mat-elevation-z0">
  <mat-form-field appearance="standard" fxFlex="40%">
    <mat-label>Buscar</mat-label>
    <input id="search" matInput pattern="/[a-zA-Z0-9-_ ]/" (keyup.esc)="input.value = ''" placeholder="Ej. Aglutinación"
      #input autocomplete="off">
    <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addCustomer()" type="button" style="float: right">
    + Agregar Nuevo Cliente
  </button>
</mat-card>
<div class="example-container mat-elevation-z0">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Se alcanzó el límite de velocidad de la API. Se restablecerá en un minuto.
    </div>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="data" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="cust_descripcion">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.cust_descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="cust_direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cust_direccion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cust_telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cust_telefono }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Update</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="updateCustomer(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">No hay datos que coincidan con el filtro "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="options.size" [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>

<!-- <div class="container">
  <h1>Clientes</h1>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th *ngIf="role === 'Admin'" (click)="addCustomer()">
            <button type="button" class="btn btn-success">
              Agregar nuevo Cliente
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.cust_descripcion }}</td>
          <td>{{ customer.cust_direccion }}</td>
          <td>{{ customer.cust_telefono }}</td>
          <td>
            <button (click)="updateCustomer(customer.id)" class="btn btn-primary" style="margin-left: 10px"
              *ngIf="role === 'Admin'">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />
</div> -->