<div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h1>
                    <button mat-icon-button color="primary" (click)="goBack()">
                        <mat-icon>home</mat-icon>
                    </button>
                    Edit Profile
                    <div class="spinner-border text-dark" *ngIf="loadingService.loading"></div>
                </h1>
                <!-- <b><pre>{{userForm.value | json}}</pre></b> -->
                <form (ngSubmit)="submitForm()" [formGroup]="userForm">
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">User Details</p>
                        </div>
                        <!-- Hidden filed -->
                        <input type="number" hidden formControlName="id" name="id">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="designation"><strong>Designation</strong><br /></label><input
                                            class="form-control" type="text" placeholder="Designation"
                                            name="designation" formControlName="designation"
                                            [ngClass]="{'is-invalid': submitted && f['designation'].errors}" />
                                        <div class="invalid-feedback" *ngIf="submitted && f['designation'].errors">
                                            <div *ngIf="f['designation'].hasError('required')">* Required</div>
                                            <div *ngIf="f['designation'].hasError('serverValidationError')">
                                                {{f['designation'].errors['serverValidationError'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <app-person></app-person> -->
                    <!-- Person -->
                    <div formGroupName="person">
                        <input type="number" hidden formControlName="id" name="id">
                        <div class="card shadow mb-5">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Personal Informations</p>
                            </div>
                            <div class="card-body">
                                <!-- <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Tipo Documento</label>
                                            <select name="documentTypeId" class="form-control"
                                                formControlName="documentTypeId" placeholder="documentTypeId"
                                                name="documentTypeId"
                                                [ngClass]="{'is-invalid': submitted && fp['documentTypeId'].errors}">
                                                <option value=" 0">-Select-</option>
                                                <option *ngFor="let docType of personDocuTypeSource"
                                                    [value]="docType.id">
                                                    {{docType.name}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && fp['documentTypeId'].errors">
                                                <div *ngIf="fp['documentTypeId'].hasError('required')">* Required
                                                </div>
                                                <div *ngIf="fp['documentTypeId'].hasError('serverValidationError')">
                                                    {{fp['documentTypeId'].errors['serverValidationError']}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Documento</label>
                                            <input type="text" class="form-control" formControlName="document"
                                                placeholder="document" name="document"
                                                [ngClass]="{'is-invalid': submitted && fp['document'].errors}" />
                                            <div class="invalid-feedback" *ngIf="submitted && fp['document'].errors">
                                                <div *ngIf="fp['document'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['document'].hasError('serverValidationError')">
                                                    {{fp['document'].errors['serverValidationError']}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="row">
                                    <div class="col">
                                        <div class="form-group"><label for="nickname"></label>
                                            <input type="text" class="form-control" formControlName="nickname"
                                                placeholder="nickname" name="nickname"
                                                [ngClass]="{'is-invalid': submitted && fp['nickname'].errors}" />
                                            <div class="invalid-feedback" *ngIf="submitted && fp['nickname'].errors">
                                                <div *ngIf="fp['nickname'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['nickname'].hasError('serverValidationError')">
                                                    {{fp['nickname'].errors['serverValidationError']}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Genero</label>
                                            <select name="genderId" class="form-control" formControlName="genderId"
                                                placeholder="genderId" name="genderId"
                                                [ngClass]="{'is-invalid': submitted && fp['genderId'].errors}">
                                                <option value=" 0">-Select-</option>
                                                <option *ngFor="let gender of personGenderSouruce" [value]="gender.id">
                                                    {{gender.name}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && fp['genderId'].errors">
                                                <div *ngIf="fp['genderId'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['genderId'].hasError('serverValidationError')">
                                                    {{fp['genderId'].errors['serverValidationError']}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Profesion</label>
                                            <select name="professionId" class="form-control"
                                                formControlName="professionId" placeholder="professionId"
                                                name="professionId"
                                                [ngClass]="{'is-invalid': submitted && fp['professionId'].errors}">
                                                <option value=" 0">-Select-</option>
                                                <option *ngFor="let profesion of personProfessions"
                                                    [value]="profesion.id">
                                                    {{profesion.name}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && fp['professionId'].errors">
                                                <div *ngIf="fp['professionId'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['professionId'].hasError('serverValidationError')">
                                                    {{fp['professionId'].errors['serverValidationError']}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Estado Civil</label>
                                            <select name="civilStateId" class="form-control"
                                                formControlName="civilStateId" placeholder="civilStateId"
                                                name="civilStateId"
                                                [ngClass]="{'is-invalid': submitted && fp['civilStateId'].errors}">
                                                <option value=" 0">-Select-</option>
                                                <option *ngFor="let civilSate of civilStateSource"
                                                    [value]="civilSate.id">
                                                    {{civilSate.name}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback"
                                                *ngIf="submitted && fp['civilStateId'].errors">
                                                <div *ngIf="fp['civilStateId'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['civilStateId'].hasError('serverValidationError')">
                                                    {{fp['civilStateId'].errors['serverValidationError']}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="firstName"><strong>First Name</strong><br /></label>
                                            <input class="form-control" formControlName="firstName" type="text"
                                                placeholder="First Name" name="firstName"
                                                [ngClass]="{'is-invalid': submitted && fp['firstName'].errors}"
                                                readonly />
                                            <div class="invalid-feedback" *ngIf="submitted && fp['firstName'].errors">
                                                <div *ngIf="fp['firstName'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['firstName'].hasError('serverValidationError')">
                                                    {{fp['firstName'].errors['serverValidationError'] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="lastName"><strong>Last Name</strong></label>
                                            <input class="form-control" formControlName="lastName" type="text"
                                                placeholder="Last Name" name="lastName"
                                                [ngClass]="{'is-invalid': submitted && fp['lastName'].errors}"
                                                readonly />
                                            <div class="invalid-feedback" *ngIf="submitted && fp['lastName'].errors">
                                                <div *ngIf="fp['lastName'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['lastName'].hasError('serverValidationError')">
                                                    {{fp['lastName'].errors['serverValidationError'] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="phoneNo"><strong>Phone No</strong><br /></label>
                                            <input class="form-control" type="text" placeholder="Enter Phone No."
                                                name="phoneNo" formControlName="phoneNo"
                                                [ngClass]="{'is-invalid': submitted && fp['phoneNo'].errors}"
                                                readonly />
                                            <div class="invalid-feedback" *ngIf="submitted && fp['phoneNo'].errors">
                                                <div *ngIf="fp['phoneNo'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['phoneNo'].hasError('serverValidationError')">
                                                    {{fp['phoneNo'].errors['serverValidationError'] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="email"><strong>Email</strong><br /></label>
                                            <input class="form-control" type="text" placeholder="Email" name="email"
                                                formControlName="email"
                                                [ngClass]="{'is-invalid': submitted && fp['email'].errors}" readonly />
                                            <div class="invalid-feedback" *ngIf="submitted && fp['email'].errors">
                                                <div *ngIf="fp['email'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['email'].hasError('serverValidationError')">
                                                    {{fp['email'].errors['serverValidationError'] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="gender"><strong>Gender</strong><br /></label>
                                            <select class="form-control" name="gender" id="gender"
                                                formControlName="gender"
                                                [ngClass]="{'is-invalid': submitted && fp['gender'].errors }">
                                                <option *ngFor="let s of genders | keyvalue" [value]="s.key">
                                                    {{ s.value }}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && fp['gender'].errors">
                                                <div *ngIf="fp['gender'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['gender'].hasError('serverValidationError')">
                                                    {{fp['gender'].errors['serverValidationError'] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="dateOfBirth"><strong>Date of Birth</strong><br /></label><input
                                                class="form-control" type="Date" name="dateOfBirth"
                                                formControlName="dateOfBirth"
                                                [ngClass]="{'is-invalid': submitted && fp['dateOfBirth'].errors}" />
                                            <div class="invalid-feedback" *ngIf="submitted && fp['dateOfBirth'].errors">
                                                <div *ngIf="fp['dateOfBirth'].hasError('required')">* Required</div>
                                                <div *ngIf="fp['dateOfBirth'].hasError('serverValidationError')">
                                                    {{fp['dateOfBirth'].errors['serverValidationError'] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col"><strong>Más...</strong></div>
                                </div>
                                <div class="row">
                                    <!-- <br /> -->
                                    <button class="btn btn-primary btn-block text-white btn-user mx-3" type="button"
                                        (click)="personAddEdit(f['person'].value.id)">
                                        <span *ngIf="loadingService.loading"
                                            class="spinner-border spinner-border-sm"></span>
                                        Editar Informacion Personal
                                    </button>
                                    <a class="btn btn-sm btn-success text-white"
                                        (click)="personAddEdit(f['person'].value.id)">Editar Informacion Personal</a>
                                </div>
                            </div>
                        </div>
                        <!-- Address -->
                        <!-- <div class="card shadow mb-5" formGroupName="address">
                            <input type="number" hidden formControlName="id" name="id">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Address</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="city"><strong>City</strong></label><input type="text"
                                                class="form-control" placeholder="City" name="city"
                                                [ngClass]="{'is-invalid': submitted && fpa['city'].errors}"
                                                formControlName="city" />
                                            <div class="invalid-feedback" *ngIf="submitted && fpa['city'].errors">
                                                <div *ngIf="fpa['city'].hasError('required')">* Required</div>
                                                <div *ngIf="fpa['city'].hasError('minLength')">Min length ust be 4
                                                </div>
                                                <div *ngIf="fpa['city'].hasError('maxLength')">Max length must be
                                                    30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="country"><strong>State</strong></label><input type="text"
                                                class="form-control" placeholder="State" name="State"
                                                [ngClass]="{'is-invalid': submitted && fpa['state'].errors}"
                                                formControlName="state" />
                                            <div class="invalid-feedback" *ngIf="submitted && fpa['state'].errors">
                                                <div *ngIf="fpa['state'].hasError('required')">* Required</div>
                                                <div *ngIf="fpa['state'].hasError('minLength')">Min length ust be
                                                    4
                                                </div>
                                                <div *ngIf="fpa['state'].hasError('maxLength')">Max length must be
                                                    30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="area"><strong>Area</strong></label><input type="text"
                                                class="form-control" placeholder="Area" name="area"
                                                [ngClass]="{'is-invalid': submitted && fpa['area'].errors}"
                                                formControlName="area" />
                                            <div class="invalid-feedback" *ngIf="submitted && fpa['area'].errors">
                                                <div *ngIf="fpa['area'].hasError('required')">* Required</div>
                                                <div *ngIf="fpa['area'].hasError('minLength')">Min length ust be 4
                                                </div>
                                                <div *ngIf="fpa['area'].hasError('maxLength')">Max length must be
                                                    30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="pinode"><strong>pincode</strong></label><input type="text"
                                                class="form-control" placeholder="pincode" name="pincode"
                                                formControlName="pincode"
                                                [ngClass]="{'is-invalid': submitted && fpa['pincode'].errors}" />
                                            <div class="invalid-feedback" *ngIf="submitted && fpa['pincode'].errors">
                                                <div *ngIf="fpa['pincode'].hasError('required')">* Required</div>
                                                <div *ngIf="fpa['pincode'].hasError('pattern')">Must be of length
                                                    6
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Additional Info</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="securityQuestion"><strong>Security Question</strong></label>
                                        <input type="securityQuestion" class="form-control"
                                            placeholder="Enter securityQuestion" name="securityQuestion"
                                            formControlName="securityQuestion"
                                            [ngClass]="{'is-invalid': submitted && f['securityQuestion'].errors}" />
                                        <div class="invalid-feedback" *ngIf="submitted && f['securityQuestion'].errors">
                                            <div *ngIf="f['securityQuestion'].hasError('required')">* Required</div>
                                            <div *ngIf="f['securityQuestion'].hasError('serverValidationError')">
                                                {{f['securityQuestion'].errors['serverValidationError'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="securityAnswer"><strong>Security Answer</strong></label><input
                                            type="password" class="form-control" placeholder="Security Answer"
                                            name="securityAnswer" formControlName="securityAnswer"
                                            [ngClass]="{'is-invalid': submitted && f['securityAnswer'].errors}" />
                                        <div class="invalid-feedback" *ngIf="submitted && f['securityAnswer'].errors">
                                            <div *ngIf="f['securityAnswer'].hasError('required')">* Required</div>
                                            <div *ngIf="f['securityAnswer'].hasError('passwordMatchError')">Password
                                                not
                                                same</div>
                                            <div *ngIf="f['securityAnswer'].hasError('serverValidationError')">
                                                {{f['securityAnswer'].errors['serverValidationError'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                                <button class="btn btn-primary btn-block text-white btn-user mx-3" type="submit"
                                    [disabled]="userForm.invalid">
                                    <span *ngIf="loadingService.loading"
                                        class="spinner-border spinner-border-sm"></span>
                                    Update Data
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="message" class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>